.wrapper {
	display: flex;
	justify-content: center;
}

.grid {
	display: grid;
	max-width: 1000px;
	grid-template-columns: 1fr 2fr;
}

.projects-list {
	grid-column-start: 3;
  }

.people-list {
	grid-column-start: 5;
}