body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* background: rgb(75, 27, 98); */
	background: beige;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

nav {
	background-color: #fce21b;
	color: black;
	font-family: 'Cornerstone';
}

h1 {
	color: black;
}

/* navbar comp */

.navBar-comp {
	padding-top: 12px;
	height: 57px;
	border-bottom: 4px solid black;
	background-color: black;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.tabContainerBox {
	color: white;
	border-radius: 0%;
	top: 0;
}

.tabBox-nav {
	display: flex;
	flex-direction: row;
}

.tabBox {
	/* border: 1px solid rgb(138, 143, 138); */
}

.tabBox-main {
	margin-left: 8px;
	z-index: 10;
	margin-top: -6px;
	text-decoration: none;
}

.Nav-subtitle {
	font-size: 25px;
	margin-left: -25px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.TabLabel,
.TabLogo {
	color: white;
	margin-left: 30px;
	text-decoration: none;
	word-spacing: 0.25px;
	padding-bottom: 10px;
	padding-right: 24px;
	margin-top: 1px;
	transition: 0.5s ease-in-out;
	text-align: center;
}
.TabLabel {
	margin-left: 5px;
}

/* blank space on top of each page */

.blank {
	margin-top: 110px;
}
/* home page styling */

.modal-body {
	align-self: center;
}
.modal-title {
}
